:root {
    --standard-shadow: 5px 5px 0  rgba(0, 0, 0, 0.4), 10px 10px 0  rgba(2, 2, 2, 0.3), 15px 15px 0  rgba(6, 5, 7, 0.2), 20px 20px 0  rgba(76,40,187,0.1), 25px 25px 0  rgba(76,40,187,0.05),inset 0 0 0  #8545ec, 5px 5px 0  rgba(0, 0, 0, 0.4), 10px 10px 0  rgba(2, 1, 3, 0.3), 15px 15px 0  rgba(0, 0, 0, 0.2);

    --standard-shadow: var(--shadow-elevation-medium),2px 2px 0 2px gray,-2px -2px 0 2px lightgray;

    --standard-gap: 5%;

    --brand-color:rgb(130,238,253);
    --brand-color-darker:rgba(97,188,200,1);

    --small-shadow:rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
      0.3px 0.7px 1.1px hsl(var(--shadow-color) / 0),
      0.6px 1.2px 2px hsl(var(--shadow-color) / 0.05),
      1.2px 2.3px 3.9px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-medium:
      0.3px 0.7px 1.1px hsl(var(--shadow-color) / 0),
      1.2px 2.3px 3.9px hsl(var(--shadow-color) / 0.02),
      2.1px 4px 6.8px hsl(var(--shadow-color) / 0.05),
      3.5px 6.7px 11.3px hsl(var(--shadow-color) / 0.07),
      5.9px 11.3px 19.1px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-high:
      0.3px 0.7px 1.1px hsl(var(--shadow-color) / 0),
      2.1px 4.1px 6.9px hsl(var(--shadow-color) / 0.01),
      3.7px 7.1px 12px hsl(var(--shadow-color) / 0.02),
      5.2px 10px 16.9px hsl(var(--shadow-color) / 0.03),
      6.9px 13.2px 22.3px hsl(var(--shadow-color) / 0.04),
      8.9px 17.1px 28.9px hsl(var(--shadow-color) / 0.06),
      11.4px 21.9px 37px hsl(var(--shadow-color) / 0.07),
      14.7px 28.2px 47.7px hsl(var(--shadow-color) / 0.08),
      18.9px 36.3px 61.4px hsl(var(--shadow-color) / 0.09),
      24.2px 46.6px 78.8px hsl(var(--shadow-color) / 0.1);
}

* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
    margin: auto;
    text-align: center;
}

q {
    font-size: 1.2rem;
    font-style: italic;
    color: gray;
}

html , body {
    padding: 0;
    margin: 0;
    overflow-x:hidden ;
    background: rgb(130,238,253);
    background: linear-gradient(120deg, rgba(130,238,253,1) 0%, rgba(5,16,148,1) 100%); 
}

header , main {
    max-width: 800px;
    margin: auto;
}

section {
    margin-top: max(8vh,100px);
    margin-bottom: 8vh;
}

header {
    margin-top: 5vh;
}

main {
    margin-top: 5vh;
}

body {
    /* background: rgb(69,170,180);
    background: linear-gradient(45deg, rgba(69,170,180,1) 0%, rgba(69,170,180,1) 16%, rgba(3,141,178,1) 16%, rgba(3,141,178,1) 33%, rgba(32,100,145,1) 33%, rgba(32,100,145,1) 49%, rgba(249,99,124,1) 49%, rgba(249,99,124,1) 65%, rgba(254,122,102,1) 65%, rgba(254,122,102,1) 81%, rgba(251,180,92,1) 81%);  */

    background: rgb(130,238,253);
    background: linear-gradient(225deg, rgba(130,238,253,1) 0%, rgba(130,238,253,1) 16%, rgba(107,209,223,1) 16%, rgba(107,209,223,1) 33%, rgba(97,188,200,1) 33%, rgba(97,188,200,1) 49%, rgba(70,152,163,1) 49%, rgba(70,152,163,1) 65%, rgba(47,118,128,1) 65%, rgba(47,118,128,1) 81%, rgba(38,97,106,1) 81%); 

    background-size: 100%;
    /* animation: bg-scroll 5s;
    animation-fill-mode: forwards; */
}

@keyframes bg-scroll {
    0% {background-position: 100% 100%;background-size: 300%;}
    100% {background-position: 0% 0%;background-size: 100%;}
}

.grid-wrapper {
    display: flex;
    gap: var(--standard-gap);
    width: 100%;
}

.grid-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5vh;
}

.item-bl {
    background-color: black ;
}

.frame-style {
    box-shadow: var(--standard-shadow);
    /* border: 1px black solid; */
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.637);;
}

@supports (not (gap:20px)) {
    #contact a {
        margin: 20px 0;
        gap: 0;
    }
}

.promotion {
    background-color: red;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    padding: 0.5%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.promotion button {
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
}

.mobile-buttons {
    display: none;
}

.identity span {
    max-width: 200px;
}

.motto {
    display: flex;
    position: relative;
}

.motto :is(q,span) {
    font-size: 1.5rem;
}

.motto i {
    font-size: 2rem;
    color: var(--brand-color-darker);
    position: absolute;
    top: -10%;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px; */
    box-shadow: var(--shadow-elevation-low);
}

.motto span {
    color: var(--brand-color-darker);
}

.t-box {
    padding: 5vh;
    position: relative;
    padding-top: max(6vh,70px);
}

.t-box h2 {
    margin-bottom: 2vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: -25px;
    background-color: rgb(221, 221, 221);
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    box-shadow: var(--shadow-elevation-medium);
    
}

.t-box h3 {
    margin-bottom: 2vh;
    margin-top: 0.5vh;
}

.examples {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 1fr;
    gap: 2vh;
    margin-top: 5%;
}

.examples img {
    width: 100%;
    object-fit: cover;
    border: 1px black solid;
    height: 100%;
    max-height: 20vh;
}

#map {
    margin-top: 2vh;
    width: 100%;
    height: 20vh;
    background-color: #8545ec;
    border-radius: 10px;
}

#contact ul,#footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: row;
}

#contact li,#footer li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-basis: 20%;
}

#contact a,#footer a {
    border: 2px solid black;
    background-color: var(--brand-color-darker);
    padding: 10% 0;
    width: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--shadow-elevation-medium);
    transition: all 0.2s;
}

#contact a:hover,#footer a:hover {
    background-color: var(--brand-color);
    text-decoration: underline;
}

#contact .fas,#footer .fas {
    font-size: 30px;
}

#contact p,#footer p {
    text-align: center;
}

#contact li > div,#footer li > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: black 1px solid;
}

#footer {
    margin: 0;
    background: rgb(255, 255, 255);
}

#footer .t-box {
    border-radius: 0 !important;
    box-shadow: none;
    background-color: transparent;
}

#footer li {
    flex-basis: 10%;
}

#offer ol {
    margin-bottom: 5%;
    margin-top: 1%;
    width: fit-content;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#offer li,#offer h3 {
    width: fit-content;
}

#offer li {
    text-align: center;
    padding: 2%;
    margin-bottom: 1%;
    margin-right: 1%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.172);
}

.mobile-buttons > a {
    text-decoration: none;
    border: 1px solid black;
    width: 100%;
    margin: 2% 0;
    padding: 3vh 0;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.button {
    margin: auto;
    width: 100%;
    text-align: center;
    display: block;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    padding: 3vh 0;
}

.button:hover {
    background-color: lightgray;
}

#directions .button {
    margin-bottom: 2vh;
}

#directions P {
    padding: 5% 0;
    text-align: center;
}

#directions a {
    text-decoration: none;
    color: inherit;
}

#directions p:hover {
    text-decoration: underline;
}

nav {
    position: fixed;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.nav-wrapper {
    position: absolute;
    top: 0;
    left: -200px;
}

nav a {
    padding: 10%;
    margin: 10px 0;
    text-align: center;
    width: 80%;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    font-weight: bold;
    transition: transform 0.1s ease-out;
}

.disable-scroll {
    overflow: hidden;
}

.oferta-grid {
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin: auto;
    margin-bottom: 15%;
    gap: 5%;
    justify-content: center;
}

.of-g-item {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: var(--brand-color-darker);
    width: 41%;
    padding: 3%;
    align-items: center;
    margin-bottom: 5%;
    gap: 5%;
    min-width: 250px;
    border-radius: 10px;
    /* box-shadow: var(--small-shadow); */
    box-shadow: var(--shadow-elevation-high);
}

.of-g-item i {
    font-size: 70px;
    text-align: center;
    display: block;
    min-width: 80px;
    height: 100%;
}

.of-g-inside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 5%;
}

.of-g-inside li {
    text-align: left !important;
    box-shadow: none !important;
    margin-left: 15px;
}

.of-g-inside h3 {
    text-align: left;
    width: 100% !important;
    font-size: 1.5rem;
    margin: 0;
}

.of-g-inside p {
    margin: 0;
}

.clickable {
    background-color: white !important;
    color: black !important;
    font-weight: bold !important;
    box-shadow: var(--shadow-elevation-low) !important;
    display: block !important;
    text-align: center !important;
    text-decoration: none !important;
    transition: box-shadow 0.3s,color 0.2s;
    border: none !important;
}

.clickable:hover {
    box-shadow: var(--shadow-elevation-medium) !important;
    color: var(--brand-color-darker) !important;
}

.footer-mobile {
    display: none;
}

@media (max-width:1200px) {

    .t-box,.grid-item {
        --mobile-padding:5%;
        padding-left: var(--mobile-padding);
        padding-right: var(--mobile-padding);
        background-color: rgba(255, 255, 255, 0.637);
    }
    
    section h2 {
        font-size: 1.2rem;
    }

    nav {
        display: none;
    }

    * {
        font-size: 18px;
    }

    .motto {
        display: none;
    }   

    .mobile-buttons {
        display: flex;
    }


    .mobile-buttons > a:active {
        background-color: lightgray;
    }

    .grid-wrapper {
        flex-direction: column;
    }

    .grid-item {
        width: auto;
        margin-top: 5vh;
    }

    .examples {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1vh;
    }

    header {
        margin: 0 auto;
    }

    body {
        animation: none;
        background-size: 100%;
    }
    
    header,main {
        padding: 2%;
    }

    #contact ul {
        flex-direction: column;
        gap: 30px;
    }

    .promotion p{
        font-size: 0.8rem;
    }

    #footer {
        display: none;
    }

    .footer-mobile {
        display: block;
        height: 100%;
        margin: 0;
    }
    
    .footer-mobile ul {
        padding: 20% 0;
        list-style: none;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: white;
    }

    .footer-mobile li {
        margin-bottom: 30px;
    }

    .footer-mobile a {
        background-color: var(--brand-color-darker);
        color: white;
        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
        box-shadow: var(--shadow-elevation-low);
    }

    .of-g-item {
        width: 100%;
        height: fit-content;
    }

    .of-g-inside p {
        font-size: 0.6rem;
    }

    .of-g-item i {
        font-size: 70px;
        text-align: center;
        display: block;
        min-width: 80px;
        height: auto;
    }

    .frame-style {
        box-shadow: var(--small-shadow);
    }
}