.intro-anim {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    animation: hide-intro .8s ease-in-out 1s forwards, 5s bg-move infinite;
    flex-direction: column;
}

@keyframes hide-intro {
    0% {transform: scale(1);border-radius: 0%;}
    20% {transform: scale(0.8);border-radius: 25px;}
    100% {transform: translate(0,100%) scale(0.1);display: none;}
}

@keyframes bg-move {
    0% {background-position: 90% 90%;}
    100% {background-position: 100% 100%;}
}

.intro-anim h4 {
    font-size: 3.6rem;
    color: white;
}

.intro-anim p {
    font-size: 1rem;
    color: white;
    width: 60%;
    text-align: center;
}

.intro-anim i {
    font-size: 90px;
    animation: infinite 1s ease-in-out stamp 0.1s;
    color: white;
}

@keyframes stamp {
    0% {transform: translate(0,0);}
    20% {transform: translate(0,0);}
    50% {transform: translate(0,10%);}
    0% {transform: translate(0,0);}
}

.intro-bg {
    background: rgb(130,238,253);
    background: linear-gradient(225deg, rgba(130,238,253,1) 0%, rgba(130,238,253,1) 16%, rgba(107,209,223,1) 16%, rgba(107,209,223,1) 33%, rgba(97,188,200,1) 33%, rgba(97,188,200,1) 49%, rgba(70,152,163,1) 49%, rgba(70,152,163,1) 65%, rgba(47,118,128,1) 65%, rgba(47,118,128,1) 81%, rgba(38,97,106,1) 81%); 
    background-size: 300%;
}